<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170121628559-h77b52mgdp9pc4imjjvb3abk4jk29ipg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170121628559-h77b52mgdp9pc4imjjvb3abk4jk29ipg</string>
	<key>API_KEY</key>
	<string>AIzaSyB7DNxIMc0fw6aABBagQioYL4I9Pvh-iqk</string>
	<key>GCM_SENDER_ID</key>
	<string>170121628559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-be65e</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-be65e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170121628559:ios:8f9e52cfd9c87225a0d9fa</string>
</dict>
</plist>